<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link href="../css/framework.css" rel="stylesheet" type="text/css">
    <!-- <script src="../../node_modules/jquery/dist/jquery.min.js"></script> -->
    <script>window.$ = window.jQuery = require('jquery');</script>
    <script type="text/javascript" src="../js/renderer.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/custom.js"></script>

  </head>

  <body class="bg-dark">
    <div id="title-bar">
      <h1>Ethereum</h1>
      <div id="title-bar-btns">
        <button id="close-btn" class="btn-hover-scale"></button>
        <button id="min-btn" class="btn-hover-scale"></button>
      </div>
    </div>

    <div id="content_wrapper">
      <div id="walletAddress">
        <input type="text" name="wallet" value="">
      </div>

      <div id="hashRates" class="flex-container zigzag_wrapper">
        <div id="currentHashrate">
          <h2>Current MH/S</h2>
          <span class="loading">???</span>
          <span></span>
        </div>

        <div id="averageHashrate">
          <h2>Average MH/S</h2>
          <span class="loading">???</span>
          <span></span>
        </div>

        <div id="reportedHashrate">
          <h2>Reported MH/S</h2>
          <span class="loading">???</span>
          <span></span>
        </div>
      </div>

      <div id="currencyRates" class="flex-container">
        <div class="units">
          <div id="coinsPerMin">
            <h2>ETH per Day</h2>
            <span class="loading">???</span>
            <span></span>
          </div>
          <div id="usdPerMin" style="display: none;">
            <h2>USD per Day</h2>
            <span class="loading">???</span>
            <span></span>
          </div>
          <div id="btcPerMin" style="display: none;">
            <h2>BTC per Day</h2>
            <span class="loading">???</span>
            <span></span>
          </div>
        </div>
        <div id="workers">
          <h2>Workers</h2>
          <table style="border-spacing: 0px;">
            <tr>
              <th></th>
              <th>Current</th>
              <th>Reported</th>
            </tr>
          </table>
        </div>
      </div>


      <div id="misc" class="flex-container zigzag_wrapper">
        <div id="payouts" class="flex-container">
          <div id="paidOn">
            <h2>Last Payout</h2>
            <span class="loading">???</span>
            <span></span>
          </div>

          <div class="nextPayout">
            <h2>Next Payout</h2>
            <div id="nextPayoutContent">
              <span class="loading">???</span>
              <span></span>
              <div>days</div>
            </div>
          </div>
        </div>

        <div id="unpaid">
          <div class="eth">
            <h2>loading eth...</h2>
            <span class="loading">???</span>
            <span></span>
          </div>
          <div class="usd" style="display: none;">
            <h2>loading $...</h2>
            <span class="loading">???</span>
            <span></span>
          </div>
          <div class="btc" style="display: none;">
            <h2>loading btc...</h2>
            <span class="loading">???</span>
            <span></span>
          </div>
        </div>
      </div>

      <div id="reload">
        <button type="button" name="button" onclick="reload()">
          <span>corrode</span>
        </button>
        <div class="loadBar"></div>
      </div>

    </div>

  </body>
